<ion-content class="ion-padding">

  <div class="login">

      <ion-grid fixed>
          <ion-row>
              <ion-col class="ion-text-center">
                  <img class="logo" src="/assets/images/logo.png" alt="logo">
              </ion-col>
          </ion-row>
          <ion-row>
              <ion-col class="ion-text-center">
                  <ion-title>Redefinir Senha</ion-title>
              </ion-col>
          </ion-row>
<br>
          <ion-row>
              <ion-col size-lg="4" offset-lg="4" size-md="6" offset-md="3">
                  <p class="ion-text-center aviso">Enviaremos um link ao email previamente cadastrado. Verifique as caixas de Span e Lixo Eletrônico</p>

                  <form [formGroup]="formReSenha" novalidate (submit)="reSenha(formReSenha.value)">

                      <ion-item lines="none" class="ion-no-padding">
                          <ion-label position="stacked">Email:</ion-label>
                          <ion-input type="email" formControlName="email">
                              <ion-icon class="icon-input" slot="start" name="mail"></ion-icon>
                          </ion-input>
                      </ion-item>

                      <br>
                      <ion-button type="submit" expand="full" color="warning" [disabled]="formReSenha.invalid">
                          Enviar Link
                      </ion-button>

                  </form>
                  <br>
                  <ion-button [routerLink]="['/auth/login']" expand="full" size="small" fill="clear">
                     Fazer Login
                  </ion-button>
              </ion-col>
          </ion-row>
      </ion-grid>
  </div>
</ion-content>